html{
    font-family: sans-serif;
}

#map {
    width: 90%;
    height: 20rem;
    border: 2px solid #e3e0e0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

#form{
    display: flex;
    justify-content: center;
    gap: .5rem;
}